doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/public/bootstrap/css/bootstrap.min.css')
    link(rel='title icon', href='images.png', alt='title')
    script(async='', defer='', src='https://buttons.github.io/buttons.js')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    link(rel='stylesheet', href='/public/css/dash.css')
    link(rel='stylesheet', href='/public/css/extra.css')
    link(rel="stylesheet" href="/public/calc/calc.css")
    title Agent
  body
    nav.navbar.navbar-expand-md.navbar-light
      button.navbar-toggler.ml-auto(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarTogglerDemo01.collapse.navbar-collapse
        .container-fluid
          .row
            // sidebar
            .col-xl-2.col-lg-3.col-md-4.sidebar.fixed-top
              a.navbar-brand.admin(href='#') Agents
              .admin-info
                //- img(src='/public/img/91.jpg', alt='', width='')
                //- a.admin-name(href='#') Bp mike
              ul.sidebar-link
                li
                  a(href='/sales_agents')
                    i.fa.fa-home(aria-hidden='true')
                    | Dashboard
                li
                  a.active(href='/sales_agents')
                    i.fa.fa-sticky-note-o(aria-hidden='true')
                    | Purchases
                li
                  a(href='#')
                    i.fa.fa-bookmark-o(aria-hidden='true')
                    | item
                li
                  a(href='#')
                    i.fa.fa-calendar-check-o(aria-hidden='true')
                    | calender
                li
                  a(href='/sales_agents')
                    i.fa.fa-users(aria-hidden='true')
                    | Users
                li
                  a(href='#')
                    i.fa.fa-table(aria-hidden='true')
                    | Tables
                li
                  a(href='#')
                    i.fa.fa-cog(aria-hidden='true')
                    | Settings
            // end of sidebar
            // top-nav
            .col-xl-10.col-lg-9.col-md-8.fixed-top.upper-nav
              .row
                .col-md-4
                  form.search-area(action='')
                    input(type='text', name='', value='', placeholder='Type here to search')
                    button.fa.fa-search(type='button')
                .col-md-5
                .col-md-3
                  ul.navbar-nav
                    li.nav-item.icon-parent
                      a.nav-link.icon-bullet(href='#')
                        i.fa.fa-comments
                    li.nav-item.icon-parent
                      a.nav-link.icon-bullet(href='#')
                        i.fa.fa-bell
                    li.nav-item.sign-out
                      a.nav-link(href='#', data-toggle='modal', data-target='#sign-out')
                        i.fa.fa-sign-out
            // end of top-nav
            // end of nvbar
            // model
    #sign-out.modal.sign-out-model
      .modal-dialog
        .modal-content
          // 
          .modal-header
            h4 sign-out
            button.close(type='button', data-dismiss='modal') x
          .modal-body
            | Are you sure you want to leave?
          .modal-footer
            button.btn(type='button', data-dismiss='modal') cancel
            button.btn.btn-danger.sign-out-btn(type='button', data-dismiss='modal') Sign out
    // end of model
    // table section
    section.table-section
      .container-fluid
        .row
          .col-xl-10.col-lg-9.col-md-8
            .row
              .col-12
                .table-header
                  h3 Recorded Purchases
                  button.btn(data-toggle='modal', data-target='#calculator')
                    <i class="fa fa-calculator" aria-hidden="true"></i>
                    |  Calculator
                  button.btn(data-toggle='modal', data-target='#addpurchase')
                    //- i.fa.fa-user-plus(aria-hidden='true')
                    <i class="fa fa-product-hunt">+</i>
                    |  New Purchase
                table.table.table1.table-striped
                  thead
                    tr
                      th #   
                      th Id                  
                      th Customer                             
                      th Phone
                      th Email
                      th NIN
                      th Ref-Number
                      th Location
                      th Product
                      th Serial Number
                      th Date of Pay
                      th Initial pay
                      th Next Instalment
                      th Date of Payment
                      th Receipt
                      th
                  tbody
                    
                    each purchase, index in purchases
                        tr(data-toggle='modal', data-target='#details') 
                            th=index+1
                            //- td 
                              img(src='/img/'+ product.image alt="image" /*style="border-radius:50%;"*/ width="30" height="30" )
                            td #{purchase._id}                          
                            td #{purchase.customer_name}
                            td #{purchase.phone_number}
                            td #{purchase.email}
                            td #{purchase.nin}
                            td #{purchase.referee_number}
                            td #{purchase.location}
                            td #{purchase.item_name}
                            td #{purchase.item_serialnumber}
                            td #{purchase.date}
                            td #{purchase.initial_pay}
                            td #{purchase.next_payment_date}
                            td #{purchase.next_instalment}
                            td #{purchase.purchase_receipt}
                            td 
                              a(href="/sales_agents/purchase/"+purchase._id)
                                button.btn details  
                            td                                 
                                form(method="post" action='/sales_agents/delete')
                                    input(type="hidden", placeholder="", name="id", value=purchase._id)
                                    button.btn.btn-block(type="submit") Delete
              .col-12
                // --------add purchase modal----------
                #addpurchase.modal.add_agent_model
                  .modal-dialog
                    .modal-content
                      .heading New purchase
                      form(method='POST' name='add_purchase' id="add_purchase" action='/sales_agents/record')
                        // --------------  -------------------                        
                        .form-row
                          .form-group.col-md-6
                            label(for='customer_name') Customer Name
                            input#customer.form-control(name='customer_name', type='text' )
                            div(class="error" id="customer_err")
                          .form-group.col-md-6
                            label(for='phone_number') Phone
                            input#phone.form-control(name='phone_number', type='tel' ) 
                            div(class="error" id="phone_err")
                        .form-row
                          .form-group.col-md-6
                            label(for='email') email
                            input#email.form-control(name='email', type='email' )
                            div(class="error" id="email_err")
                          .form-group.col-md-6
                            label(for='nin') NIN
                            input#nin.form-control(name='nin', type='text' ) 
                            div(class="error" id="nin_err")
                        .form-row
                          .form-group.col-md-6
                            label(for='referee_number') Referee Number
                            input#ref_no.form-control(name='referee_number', type='tel' )
                            div(class="error" id="ref_no_err")
                          .form-group.col-md-6
                            label(for='location') Location
                            input#location.form-control(name='location', type='text' ) 
                            div(class="error" id="location_err")                                                        
                        .form-row
                          .form-group.col-md-6
                            label(for='item_name') Product
                            input#product.form-control(name='item_name', type='text' )
                            div(class="error" id="product_err")
                          .form-group.col-md-6
                            label(for='item_serialnumber') Serial Number
                            input#serial_no.form-control(name='item_serialnumber', type='text' ) 
                            div(class="error" id="serial_no_err")  
                        .form-row
                          .form-group.col-md-6
                            label(for='date') Date of purchase
                            input#date.form-control(name='date', type='date' )
                            div(class="error" id="date_err")
                          .form-group.col-md-6
                            label(for='initial_pay') Initial Pay
                            input#initial_pay.form-control(name='initial_pay', type='number' )    
                            div(class="error" id="initial_pay_err")
                        .form-row
                          .form-group.col-md-6
                            label(for='next_payment_date') Next Instalment Date
                            input#next_payment_date.form-control(name='next_payment_date', type='date' )
                            div(class="error" id="instalment_date_err")
                          .form-group.col-md-6
                            label(for='next_instalment') Next Instalment
                            input#next_instalment.form-control(name='next_instalment', type='number' )    
                            div(class="error" id="next_instalment_err")                             
                        .form-group
                          label(for='purchase_receipt') Receipt
                          input#purchase_receipt.form-control(name='purchase_receipt', type='text' )
                          div(class="error" id="receipt_err")
                        button.btn(type='button', data-dismiss='modal') cancel
                        button.btn(type='submit' value='submit' onClick="validate_products_form()") Record Purchase
                // -------end of purchase modal----------
              .col-12
                // --------calculator modal----------
                #calculator.modal.add_agent_model
                  .modal-dialog
                    .modal-content.calc_model
                      .heading Calculate
                      .calc
                          #result
                            #history
                              p#history-value
                            #output
                              p#output-value
                          #keyboard
                            button#clear.operator C
                            button#backspace.operator CE
                            button.empty
                            button.operator(id='/') ÷
                            button#7.numbers 7
                            button#8.numbers 8
                            button#9.numbers 9
                            button.operator(id='*') ×
                            button#4.numbers 4
                            button#5.numbers 5
                            button#6.numbers 6
                            button#-.operator −
                            button#1.numbers 1
                            button#2.numbers 2
                            button#3.numbers 3
                            button.operator(id='+') +
                            button#7.empty
                            button#0.numbers 0
                            button#9.empty
                            button.operator(id='=') =

              
                // ------------footer------------
    footer
      .row.justify-content-center
        | Covid-Stores ©bpmike | Designed by Otieno Mike
    // -------------end of footer--------
    script(src='/public/bootstrap/js/jquery-3.5.1.min.js')
    script(src='/public/bootstrap/js/popper.min.js')
    script(src='/public/bootstrap/js/bootstrap.min.js')
    script(src='/public/js/main.js')
    script(src="/public/calc/calc.js")
    script(src='/public/js/validate2.js')
