doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/public/bootstrap/css/bootstrap.min.css')
    link(rel='title icon', href='images.png', alt='title')
    script(async='', defer='', src='https://buttons.github.io/buttons.js')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    link(rel='stylesheet', href='/public/css/dash.css')
    link(rel='stylesheet', href='/public/css/extra.css')
    title Admin
  body
    nav.navbar.navbar-expand-md.navbar-light
      button.navbar-toggler.ml-auto(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarTogglerDemo01.collapse.navbar-collapse
        .container-fluid
          .row
            // sidebar
            .col-xl-2.col-lg-3.col-md-4.sidebar.fixed-top
              a.navbar-brand.admin(href='#') Admin
              .admin-info
                img(src='/public/img/91.jpg', alt='', width='')
                a.admin-name(href='#') Bp mike
              ul.sidebar-link
                li
                  a(href='/dash/')
                    i.fa.fa-home(aria-hidden='true')
                    | Dashboard
                li
                  a(href='/dash/products')
                    i.fa.fa-sticky-note-o(aria-hidden='true')
                    | Products
                li
                  a(href='#')
                    i.fa.fa-bookmark-o(aria-hidden='true')
                    | item
                li
                  a(href='#')
                    i.fa.fa-calendar-check-o(aria-hidden='true')
                    | calender
                li
                  a.active(href='/dash/agents')
                    i.fa.fa-users(aria-hidden='true')
                    | Users
                li
                  a(href='#')
                    i.fa.fa-table(aria-hidden='true')
                    | Tables
                li
                  a(href='#')
                    i.fa.fa-cog(aria-hidden='true')
                    | Settings
            // end of sidebar
            // top-nav
            .col-xl-10.col-lg-9.col-md-8.fixed-top.upper-nav
              .row
                .col-md-4
                  form.search-area(action='')
                    input(type='text', name='', value='', placeholder='Type here to search')
                    button.fa.fa-search(type='button')
                .col-md-5
                .col-md-3
                  ul.navbar-nav
                    li.nav-item.icon-parent
                      a.nav-link.icon-bullet(href='#')
                        i.fa.fa-comments
                    li.nav-item.icon-parent
                      a.nav-link.icon-bullet(href='#')
                        i.fa.fa-bell
                    li.nav-item.sign-out
                      a.nav-link(href='#', data-toggle='modal', data-target='#sign-out')
                        i.fa.fa-sign-out
            // end of top-nav
            // end of nvbar
            // model
            #sign-out.modal.sign-out-model
              .modal-dialog
                .modal-content
                  // 
                  .modal-header
                    h4 sign-out
                    button.close(type='button', data-dismiss='modal') x
                  .modal-body
                    | Are you sure you want to leave?
                  .modal-footer
                    button.btn(type='button', data-dismiss='modal') cancel
                    button.btn.btn-danger.sign-out-btn(type='button', data-dismiss='modal') Sign out
            // end of model
            // table section
            section.table-section
              .container-fluid
                .row
                  .col-xl-10.col-lg-9.col-md-8
                    .row
                      .col-12
                        .table-header
                          h3 Product
                          button.btn(data-toggle='modal', data-target='#addproduct')
                            i.fa.fa-user-plus(aria-hidden='true')
                            |  Add Product
                        table.table.table1.table-striped
                          thead
                            tr
                              th #
                              th Image                              
                              th Product Id
                              th Product
                              th Category
                              th make
                              th Serial number
                              th Date of entry
                              th price
                              th Initial pay
                              th Pay Interval
                              th stock
                              th
                          tbody
                            
                            each product, index in products
                                tr(data-toggle='modal', data-target='#details') 
                                    th=index+1
                                    td #{product.image}
                                    td #{product._id}                          
                                    td #{product.product}
                                    td #{product.category}
                                    td #{product.make}
                                    td #{product.serial_no}
                                    td #{product.date}
                                    td #{product.price}
                                    td #{product.initial_pay}
                                    td #{product.Pay_Interval}
                                    td #{product.stock}
                                    //- td 
                                      a(href="/dash/agents/"+agent._id)
                                        button.btn details  
                                    td                                 
                                        form(method="post" action='/dash/del_pdt')
                                            input(type="hidden", placeholder="", name="id", value=product._id)
                                            button.btn.btn-block(type="submit") Delete
                      .col-12
                        // --------add product modal----------
                        #addproduct.modal.add_agent_model
                          .modal-dialog
                            .modal-content
                              .heading Add Sales Agent
                              form(method='POST' name='add_product' action='/dash/add_product')
                                // --------------  -------------------
                                .form-group
                                  label(for='image') image
                                  input#image.form-control(name='image', type='file')
                                .form-row
                                  .form-group.col-md-6
                                    label(for='productname') product
                                    input#productname.form-control(name='product', type='text' required)
                                  .form-group.col-md-6
                                    label(for='make') make
                                    input#make.form-control(name='make', type='text' required)
                                .form-row
                                  .form-group.col-md-6
                                    label(for='date') Date of entry
                                    input#date.form-control(name='date', type='date' required)
                                  .form-group.col-md-6
                                    label(for='serial_no') Serial Number
                                    input#serial_no.form-control(name='serial_no', type='text' required)                                    
                                .form-row
                                  .form-group.col-md-6
                                    label(for='price') Price
                                    input#price.form-control(name='price', type='number' required)
                                  .form-group.col-md-6
                                    label(for='initial_pay') initial Pay
                                    input#initial_pay.form-control(name='initial_pay', type='number' required)                                
                                .form-group
                                  label(for='Pay_Interval') Pay Interval
                                  input#Pay_Interval.form-control(name='Pay_Interval', type='number')
                                .form-group
                                  label(for='category') Category
                                  select#city.form-control.custom-select(name='category')
                                    option(selected='') Choose...
                                    option(value='furniture') furniture
                                    option(value='electronics') electronics
                                    option(value='sports') sports
                                    option(value='toys') toys
                                    option(value='fitness') fitness
                                    option(value='other') other
                                .form-group
                                  label(for='stock') Stock
                                  select#city.form-control.custom-select(name='stock' type="number")
                                    option(selected value=5) 5
                                    option(value=10) 10
                                    option(value=20) 20
                                    option(value=30) 30
                                    option(value=40) 40
                                    option(value=50) 50
                                    option(value="100+") 100+
                                button.btn(type='button', data-dismiss='modal') cancel
                                button.btn(type='submit' value='submit' /*onClick="validate()"*/) Add
                        // -------end of product modal----------

                        // ------------- details modal -----------
                        //- .col-12
                          #details.modal.add_agent_model
                            .modal-dialog
                              .modal-content
                                .heading Sales Agent Details
                                table.table2
                                  tbody
                                    //________ loop through agents
                                    each product in products
                                      tr
                                        th ID
                                        td #{product._id}
                                      tr
                                        th product
                                        td #{product.product}
                                      tr
                                        th category
                                        td #{product.category}
                                      tr
                                        th User Name
                                        td #{agent.username}
                                      tr
                                        th NIN
                                        td #{agent.nin}
                                      tr
                                        th Gender
                                        td #{agent.gender}
                                      tr
                                        th Email
                                        td #{agent.email}
                                      tr
                                        th password
                                        td #{agent.password}
                                      tr
                                        th Address
                                        td #{agent.address}
                                      tr
                                        th city
                                        td #{agent.city}
                                      tr
                                        td
                                          button.btn(type="button" data-dismiss="modal") close
                                        td
                                          button.btn Edit
                        // ----------- end of details modal---------
                        // end of table section
                        // ------------footer------------
                        footer
                          .row.justify-content-center
                            | Covid-Stores ©bpmike | Designed by Otieno Mike
                        // -------------end of footer--------
                        script(src='/public/bootstrap/js/jquery-3.5.1.min.js')
                        script(src='/public/bootstrap/js/popper.min.js')
                        script(src='/public/bootstrap/js/bootstrap.min.js')
                        script(src='/public/js/main.js')
                        script(src='/public/js/validation.js')
