<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
  <link rel="title icon" href="images.png" alt='title'>
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/fixed.css">

  <title>Admin</title>
</head>

<body data-target="#navbarResponsive">
  <!-- Home section -->
  <div id="home">
    <!-- nav -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a href="#" class="navbar-brand">
        <h1>Covid-Stores</h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">


        <form action="" class="search-area">
          <input type="text" name="" value="" placeholder="Type here to search">
          <button class="fa fa-search" type="button"></button>
        </form>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <!-- drop down -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> categories
              
            </a>
            <div class="dropdown-menu nav-link" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item nav-link" href="#">fitness</a>
              <a class="dropdown-item nav-link" href="#">Electronics</a>
              <a class="dropdown-item nav-link" href="/views/layouts/users/furniture.html">Furniutre</a>
              <a class="dropdown-item nav-link" href="#">Toys</a>
            </div>
        </ul>
      </div>
    </nav>
    <!-- end of nav -->

    <!-- landing page section -->
    <div class="landing">
      <div class="home-wrap">
        <div class="home-inner">
        </div>
      </div>
    </div>
    <div class="caption text-center">
      <h1>furniture</h1>
      <h3>Get confortable cheaply</h3>
    </div>
    <!-- end of landing section -->
  </div>
  <!-- end Home section -->

  <!--section -->
  <div class="products">
    <div class="col-12 narrow text-center">
      <h1 class="heading">furniturese</h1>

      <!---------products------------->
      <div class="card-deck">
        each product, index in products
          div.card
            img(src='/img/'+ product.image alt="image" width="50" class="card-img-top" )
            .card-body.text-left
              .name name: #{product.product}
              .brand Brand/make: #{product.make}
              .price price: #{product.price}
          //- tr              
          //-     td 
          //-       img(src='/img/'+ product.image alt="image" /*style="border-radius:50%;"*/ width="30" height="30" )
          //-     td #{product._id}                          
          //-     td #{product.product}
          //-     td #{product.category}
          //-     td #{product.make}
          //-     td #{product.serial_no}
          //-     td #{product.date}
          //-     td #{product.price}
          //-     td #{product.initial_pay}
          //-     td #{product.Pay_Interval}
          //-     td #{product.stock}
              td
        <div class="card">
          <img src="/public/img/product-1-2.jpg" width="50" class="card-img-top" alt="...">
          <div class="card-body text-left">
            <div class="name">Chair one</div>
            <div class="brand">Brand</div>
            <div class="price">ugx-2000</div>
            <div class="rating">4.5starts (10 reviews)</div>
          </div>
        </div>
        

        <div class="card">
          <img src="/public/img/product-1-2.jpg" width="50" class="card-img-top" alt="...">
          <div class="card-body text-left">
            <div class="name">Chair one</div>
            <div class="brand">Brand</div>
            <div class="price">ugx-2000</div>
            <div class="rating">4.5starts (10 reviews)</div>
          </div>
        </div>

        <div class="card">
          <img src="/public/img/product-1-2.jpg" width="50" class="card-img-top" alt="...">
          <div class="card-body text-left">
            <div class="name">Chair one</div>
            <div class="brand">Brand</div>
            <div class="price">ugx-2000</div>
            <div class="rating">4.5starts (10 reviews)</div>
          </div>
        </div>
        <div class="card">
          <img src="/public/img/product-1-2.jpg" width="50" class="card-img-top" alt="...">
          <div class="card-body text-left">
            <div class="name">Chair one</div>
            <div class="brand">Brand</div>
            <div class="price">ugx-2000</div>
            <div class="rating">4.5starts (10 reviews)</div>
          </div>
        </div>
        <div class="card">
          <img src="/public/img/product-1-2.jpg" width="50" class="card-img-top" alt="...">
          <div class="card-body text-left">
            <div class="name">Chair one</div>
            <div class="brand">Brand</div>
            <div class="price">ugx-2000</div>
            <div class="rating">4.5starts (10 reviews)</div>
          </div>
        </div>
        <div class="card">
          <img src="/public/img/product-1-2.jpg" width="50" class="card-img-top" alt="...">
          <div class="card-body text-left">
            <div class="name">Chair one</div>
            <div class="brand">Brand</div>
            <div class="price">ugx-2000</div>
            <div class="rating">4.5starts (10 reviews)</div>
          </div>
        </div>
        <div class="card">
          <img src="/public/img/product-1-2.jpg" width="50" class="card-img-top" alt="...">
          <div class="card-body text-left">
            <div class="name">Chair one</div>
            <div class="brand">Brand</div>
            <div class="price">ugx-2000</div>
            <div class="rating">4.5starts (10 reviews)</div>
          </div>
        </div>        

        <div class="card">
          <img src="/public/img/product-1-2.jpg" width="50" class="card-img-top" alt="...">
          <div class="card-body text-left">
            <div class="name">Chair one</div>
            <div class="brand">Brand</div>
            <div class="price">ugx-2000</div>
            <div class="rating">4.5starts (10 reviews)</div>
          </div>
        </div>

        <div class="card">
          <img src="/public/img/product-1-2.jpg" width="50" class="card-img-top" alt="...">
          <div class="card-body text-left">
            <div class="name">Chair one</div>
            <div class="brand">Brand</div>
            <div class="price">ugx-2000</div>
            <div class="rating">4.5starts (10 reviews)</div>
          </div>
        </div>

        <!---------- from admin side let products appear on this page {product.product} --------->

      </div>

      <!---------end of products----------->

    </div>
  </div>
  


  <!-- footer section -->

  <footer>
    <div class="row justify-content-center">
      <div class="col-md-5 text-center">
        <h1>Covid-Stores</h1>
        <p>Lorem ipsum dolor, amet deserunt omnis?</p>
        <strong>Contact info</strong>
        <p>0789101112 <br> me@email.com</p>
        <a href="www.facebook.com" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="www.twitter.com" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <hr class="socket">
      span Covid-Stores &copy;bpmike | Designed by Otieno Mike
    </div>
  </footer>
  <!-- end footer section -->



  <script src="/public/bootstrap/js/jquery-3.5.1.min.js"></script>
  <script src="/public/bootstrap/js/popper.min.js"></script>
  <script src="/public/bootstrap/js/bootstrap.min.js"></script>
  <script src="/public/js/main.js"></script>
</body>

</html>